.modal-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .modal-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms ease;
  }
  
  .modal-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .modal-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 300ms ease;
  }